body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: gainsboro;
    color: black;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

nav ul li a {
    display: block;
    background-color:black ;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ccc;
    color :black;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.calculadora-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(222, 211, 211, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.volver {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-left: 30rem;
    color: black;
    text-decoration: none;
}

.volver:hover {
    text-decoration: underline;
}

/* Media Queries (Ejemplo) */
@media (max-width: 600px) {
    nav ul {
        grid-template-columns: 1fr;
    }
}